<h1>Editing Banner</h1>

<br><% @banner.images.each do |i| %>
<%= image_tag(i.image.url, :height => 50, :width =>80 ) %>
<% end %>
<%= render 'edit_for' %>

<%= link_to 'Show', @banner %> 
<%= link_to 'Back', banners_path %>
