<div class="col-md-6 col-md-offset-3">
  <div class="panel panel-default">
    <div class="panel-heading">
<h1>Edit Banner</h1>

<%= render 'form' %>

<%= link_to 'Show', @banner %> 
<%= link_to 'Back', banners_path %>
</div>