 <ul class="bxslider1" i>
<% @stickers.each do |i| %>

<% for image in i.images %>

<li><%=link_to  image_tag(image.image.url, :height => 180, :width => 200),  sticker_path(i.id) %>
<%= link_to i.name, sticker_path(i.id) %><br>
Rs<%= i.price %>
<%= button_to 'Add to Cart', lineitems_path(sticker_id: i) %></li>

     
<% end %>
<% end %>

</ul>
<script >


$('.bxslider1').bxSlider({
   slideWidth: 300,
    minSlides: 2,
    maxSlides: 4,
    startSlide: 2,
    pager: false,
    auto: true,
autoHover: true
});

</script>