 <ul class="bxslider" i>
<% @stickers.each do |i| %>

<% for image in i.images %>

<li><%=link_to  image_tag(image.image.url, :height => 250, :width =>500), stickers_path %>
Name:<%= i.name %><br>
Price:$<%= i.price %></li>
      
<% end %>
<% end %>

</ul>
<script >
$('.bxslider').bxSlider({
   slideWidth: 300,
    minSlides: 2,
    maxSlides: 4,
    startSlide: 2,

  ticker: true,
  speed: 30000
});

</script>