
<p>
<% @sticker.images.each do |i| %>
<%= image_tag i.image %>
<% end %>
</p>

<p>
  <strong>Name:</strong>
  <%= @sticker.name %>
</p>

<p>
  <strong>Price:$</strong>
  <%= @sticker.price %>
</p>

<%= link_to 'Back', root_path %>

