<ul class="bxslider" i>
<% @banners.each do |i| %>
<% for image in i.images %>
<li><%= image_tag(image.image.url, :height => 450, :width =>1200) %>
<h2><%= link_to i.name, "#" %></h2></li>
<% end %>
<% end %>

</ul>
<script >
$('.bxslider').bxSlider({
   mode: 'fade',
	
  auto: true
});

</script>

