<ul class="bxslider" i>
<% @banners.each do |i| %>
<% for image in i.images %>
<li><%= image_tag(image.image.url, :height => 400, :width =>1200) %></li>
<% end %>
<% end %>

</ul>
<script >
$('.bxslider').bxSlider({
  infiniteLoop: false,
  hideControlOnEnd: true
   
});

</script>
