<div class="text-right">
<h4><%= link_to ('<span class="glyphicon glyphicon-remove"> </span> ' ).html_safe, root_path %></h4>

<%#= button_to "Back" , dashboards_index_path, :method => "get" %>
</div>
<%= render :partial => '/layouts/footer' %>

<style>
   div.text-right{
     float: right;
}
  </style>
  