 <p class="notice"><%= notice %></p>
<%#= form_tag stickers_path, :method => 'get' do %>
    <%#= text_field_tag :search, params[:search] %>
    <%#= submit_tag "Search", :name => nil %>
<%#end %> 
<p><%= render 'layouts/navbar' %></p>

<%= render :partial => "welcome/wel" %>

 
-------------------- FEATURED ITEMS --------------------------

<%= render :partial => "stickers/slider" %>
