<!DOCTYPE html>
<html>
<head>
  <title>OnlineSticker</title>
 <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  
          </head>
<body>
  <nav id ="nav">
 </div> 

<div id= "page_nav" >
     
</div>

                     
<div id= "sign_in" >
<% if current_user.present? %>
<%#= link_to 'Account', edit_user_registration_path %>

 <% elsif current_user and current_user.role == 'admin' %>
<% else %>
<%= link_to 'Sign in', new_user_session_path  %>
<%= link_to "Sign up",  new_user_registration_path(:role => "bayer") %>

<% end %>
</div>
</nav>

<div id= "main_wrap" >

<p><%= render 'stickers/search' %></p>



 <div id="sticker_all"></div>

<div id= "footer" >


 
</footer>

</body>
</html>