<p id="notice"><%= notice %></p>
<div class="col-md-3">
  <div class="panel panel-default">
    <div class="panel-heading">
    <body>
    <h5>Dashboard Management</h5>

<h4><%= button_to "Sticker management" ,new_sticker_path, :method => "get" %></h4>       

<h4><%= button_to "Banner management" ,banners_path, :method => "get" %></h4> 
<h4><%= button_to "Contact Request" ,contacts_path, :method => "get" %></h4> 















 <style>
body {
    background-color: white;
}

h4 {

    color: ;
    margin-left: 10px;

} 
</style>

            