<div class="col-lg-3">
        
           
            <ul class="nav nav-list">
             
           <div class="well sidebar-nav">
           
              <ul class="nav nav-list">
                <li class="nav-header"</li>
              <p id="notice"><%= notice %></p>
<li><%= link_to " Sticker management", new_sticker_path %></li>
<li><%= link_to " Banner management", new_banner_path %></li> 
            </div><!--/.well -->
          
          </div><!--/span-->
        </div><!--/row-->
       
            </ul>
            