<p id="notice"><%= notice %></p>
<div class="col-md-3">
  <div class="panel panel-default">
    <div class="panel-heading">
    <h4>Dashboard Management</h4>

<h3><%= button_to "Sticker management" ,new_sticker_path, :method => "get" %></h3>       

<h3><%= button_to "Banner management" ,banners_path, :method => "get" %></h3> 
<h3><%= button_to "SContact Request" ,contacts_path, :method => "get" %></h3> 

 

            