<p id="notice"><%= notice %></p>
<h4>Dashboard Management</h4>
<%= link_to "Sticker management", stickers_path %><br>        
<%= link_to " Banner management", banners_path %><br>
<%= link_to "Contact Request", contacts_path %>
 

            