<%= link_to ('Home <span class="glyphicon glyphicon-home"> </span>').html_safe,   root_path %>
<%= link_to 'About_us', about_path %> 
<%= link_to ('Contact <span class="glyphicon glyphicon-phone-alt"> </span>').html_safe, new_contact_path %>
<br>

<%= link_to image_tag("onlinesticker.png", alt: "File Name Fancy", size: "2150*2150"), root_path %> 

