<div class="dropdown">
  <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Categories
  <span class="caret"></span></button>
  <ul class="dropdown-menu">
    <% Sticker.all.each do |st| %>
<li><%= link_to st.name, sticker_path(st.id) %></li>
<% end %>
  </ul>
</div>
 ______________________________________________________________________________________________________________________________________________________          