<ul class="nav nav-pills nav-stacked">

<div class="text-right">

  <div class="icon-shopping" style="cursor: pointer;">
  <%= link_to ('Cart <span class="glyphicon glyphicon-shopping-cart"> </span>').html_safe, cart_path(current_cart) %>
   <%= current_cart.lineitems.present? ? ("<span style='position: relative;left: 0px;'>#{current_cart.lineitems.count}</span>".html_safe) : ("<span style='position: relative;left: 0px;'>Your Cart Is Empty</span>".html_safe) %>
 </div>
 </div>

 <%= form_tag stores_path, :id => 'search_form', :method => :get do %>
 <%= select_tag :category, options_for_select([["stickers",""]]+Category.all.map{|a| a.name}) ,class: "btn btn-success"  %>
<% end %>
</ul>
<script>
  $('#category').change(function()
 {
     $('#search_form').submit();
 });
</script>
<style>
   div.text-right{
     float: right;
}
  </style>
 