<div class="dropdown">
  <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Categories
  <span class="caret"></span></button>
  <ul class="dropdown-menu">
    <% Category.all.each do |category| %>
<li><%= link_to category.name,  stickers_path(:category => category.name) %></li>
<% end %>
  </ul>
</div>
 ------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------           