<div class="dropdown">
  <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Categories
  <span class="caret"></span></button>
  <ul class="dropdown-menu">


    <% Category.all.each do |category| %>
<li><%= link_to category.name,  "#" %></li>

<% end %>
<li><%#= link_to "free sticker",  stickers_path(:status => "free sticker") %>
<%#= link_to 'paid sticker', stickers_path(:status => "paid sticker") %>
</li>
  </ul>
</div>
 ____________________________________________________________________________________________________________________________________________________
